{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <div class="flex flex-col gap-5">
        {% include "components/home/header.html.twig" %}
    </div>
{% endblock %}
