<!-- ========== HEADER ========== -->
<header class="sticky top-4 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full">
    <nav class="relative max-w-[66rem] w-full bg-neutral-800 rounded-[28px] py-3 ps-5 pe-2 md:flex md:items-center md:justify-between md:py-0 mx-2 lg:mx-auto" aria-label="Global">
        <div
            class="flex items-center justify-between">
            <!-- Logo -->
            <a class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="../templates/agency/index.html" aria-label="Preline">
                <img class="size-20 bg-transparent rounded-full" src="{{asset ('images/logo/_c964f805-8d39-4f2e-8105-7cd9ee70cf70.jpeg')}}" alt="logo de la sociéte de Rémy">
            </a>
            <!-- End Logo -->

            <div class="md:hidden">
                <button type="button" class="hs-collapse-toggle size-8 flex justify-center items-center text-sm font-semibold rounded-full bg-neutral-800 text-white disabled:opacity-50 disabled:pointer-events-none" data-hs-collapse="#navbar-collapse" aria-controls="navbar-collapse" aria-label="Toggle navigation">
                    <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
                    <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
            </div>
        </div>

        <!-- Collapse -->
        <div id="navbar-collapse" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
            <div class="flex flex-col md:flex-row md:items-center md:justify-end py-2 md:py-0 md:ps-7">
                <a class="py-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-none focus:text-neutral-300" href="../templates/agency/index.html" aria-current="page">{% trans %}Comment ça marche{% endtrans %}</a>
                <a class="py-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-none focus:text-neutral-300" href="{{path ('app_login')}}">{% trans %}Connexion{% endtrans %}</a>
                <a class="py-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-none focus:text-neutral-300" href="{{path ('app_register')}}">{% trans %}Créer un compte{% endtrans %}
                </a>
              
                {% if app.user %}
                    <a class="py-3 ps-px sm:px-3 md:py-4 text-sm text-red-500 hover:text-neutral-300 focus:outline-none focus:text-neutral-300" href="{{path ('app_logout')}}">{% trans %}Déconnexion{% endtrans %}
                    </a>
                {% endif %}

                <div>
                    <a class="group inline-flex items-center gap-x-2 py-2 px-3 bg-yellow-300 font-medium text-sm text-neutral-800 rounded-full focus:outline-none" href="{{path ('app_register')}}">
                        {% trans %}Me contacter{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
        <!-- End Collapse -->
    </nav>
</header>
<!-- ========== END HEADER ========== -->
