<div {{ attributes }}>
{% if isSuccessful %}
    <div>Welcome
        {{ newUserEmail }}!</div>
{% else %}
    {{ form_start(form, {
    'attr': {
        'novalidate': true,
        'data-action': 'live#action:prevent',
        'data-live-action-param': 'saveRegistration',
        'class': 'flex justify-center'
    }
    }) }}


    {#   {{ form_row(form.email) }}
    {{ form_row(form.password, {
    label: 'Password'
    }) }}
    {{ form_row(form.agreeTerms) }}
    
    <button type="submit" class="btn">Register</button> #}


    <div class="mt-7 bg-white  border-2 border-yellow-900 rounded-xl shadow-sm dark:bg-neutral-900 dark:border-neutral-700 w-10/12 sm:w-1/2">
        <div class="p-4 sm:p-7">
            <div class="text-center">
                <h1 class="block text-2xl font-bold text-yellow-800 ">{% trans %}Créer un compte{% endtrans %}</h1>
                <p class="mt-2 text-sm text-yellow-600 dark:text-neutral-400">
                    {% trans %}Vous avez déja un compte{% endtrans %}
                    <a class="text-blue-600 decoration-2 hover:underline font-medium dark:text-blue-500" href="../examples/html/signin.html">
                        {% trans %}Cliquez ici{% endtrans %}
                    </a>
                </p>
            </div>

            <div class="mt-5">
                <button type="button" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-yellow-200 bg-white text-yellow-800 shadow-sm hover:bg-yellow-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700  dark:hover:bg-neutral-800">
                    <svg class="w-4 h-auto" width="46" height="47" viewbox="0 0 46 47" fill="none">
                        <path d="M46 24.0287C46 22.09 45.8533 20.68 45.5013 19.2112H23.4694V27.9356H36.4069C36.1429 30.1094 34.7347 33.37 31.5957 35.5731L31.5663 35.8669L38.5191 41.2719L38.9885 41.3306C43.4477 37.2181 46 31.1669 46 24.0287Z" fill="#4285F4"/>
                        <path d="M23.4694 47C29.8061 47 35.1161 44.9144 39.0179 41.3012L31.625 35.5437C29.6301 36.9244 26.9898 37.8937 23.4987 37.8937C17.2793 37.8937 12.0281 33.7812 10.1505 28.1412L9.88649 28.1706L2.61097 33.7812L2.52296 34.0456C6.36608 41.7125 14.287 47 23.4694 47Z" fill="#34A853"/>
                        <path d="M10.1212 28.1413C9.62245 26.6725 9.32908 25.1156 9.32908 23.5C9.32908 21.8844 9.62245 20.3275 10.0918 18.8588V18.5356L2.75765 12.8369L2.52296 12.9544C0.909439 16.1269 0 19.7106 0 23.5C0 27.2894 0.909439 30.8731 2.49362 34.0456L10.1212 28.1413Z" fill="#FBBC05"/>
                        <path d="M23.4694 9.07688C27.8699 9.07688 30.8622 10.9863 32.5344 12.5725L39.1645 6.11C35.0867 2.32063 29.8061 0 23.4694 0C14.287 0 6.36607 5.2875 2.49362 12.9544L10.0918 18.8588C11.9987 13.1894 17.25 9.07688 23.4694 9.07688Z" fill="#EB4335"/>
                    </svg>
                    {% trans %}Se connecter avec Google{% endtrans %}
                </button>

                <div class="py-3 flex items-center text-xs text-yellow-400 uppercase before:flex-1 before:border-t before:border-yellow-200 before:me-6 after:flex-1 after:border-t after:border-yellow-200 after:ms-6 dark:text-neutral-500 dark:before:border-neutral-600 dark:after:border-neutral-600">Or</div>

                <!-- Form -->
                <div class="grid gap-y-4">
                    {{ form_errors(form.email, {
                    'attr' : {
                    'class': 'text-red-400 bg-red-400'
                    }
                    }) }}

                    <!-- Form Group -->
                    <div class="relative">
                        <input name="{{field_name(form.email)}}" type="email" id="{{field_name(form.email)}}" value="{{field_value(form.email)}}" class="peer p-4 block w-full border border-yellow-200 rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none  focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2
                            autofill:pt-6
                            autofill:pb-2" placeholder="{{field_label(form.email)}}">
                        <label for="{{field_name(form.email)}}" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent  origin-[0_0]  peer-disabled:opacity-50 peer-disabled:pointer-events-none
                            peer-focus:scale-90
                            peer-focus:translate-x-0.5
                            peer-focus:-translate-y-1.5
                            peer-focus:text-gray-500 dark:peer-focus:text-neutral-500
                            peer-[:not(:placeholder-shown)]:scale-90
                            peer-[:not(:placeholder-shown)]:translate-x-0.5
                            peer-[:not(:placeholder-shown)]:-translate-y-1.5
                            peer-[:not(:placeholder-shown)]:text-gray-500 dark:peer-[:not(:placeholder-shown)]:text-neutral-500 dark:text-neutral-500">{{field_label(form.email)}}</label>
                    </div>


                    <!-- End Form Group -->

                    <!-- Form Group -->
          
                    {{ form_errors(form.password, {
'attr' : {
'class': 'text-red-400 bg-red-400'
}
}) }}
                    <div class="relative">
                        <input name="{{field_name(form.password)}}" type="password" id="{{field_name(form.password)}}" value="{{field_value(form.password)}}" class="peer p-4 block w-full border border-yellow-200 rounded-lg text-sm text-red-600 placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none
                            focus:pt-6
                            focus:pb-2
                            [&:not(:placeholder-shown)]:pt-6
                            [&:not(:placeholder-shown)]:pb-2
                            autofill:pt-6
                            autofill:pb-2" placeholder="{{field_label(form.password)}}">
                        <label for="{{field_name(form.password)}}" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent  origin-[0_0]  peer-disabled:opacity-50 peer-disabled:pointer-events-none
                            peer-focus:scale-90
                            peer-focus:translate-x-0.5
                            peer-focus:-translate-y-1.5
                            peer-focus:text-gray-500 dark:peer-focus:text-neutral-500
                            peer-[:not(:placeholder-shown)]:scale-90
                            peer-[:not(:placeholder-shown)]:translate-x-0.5
                            peer-[:not(:placeholder-shown)]:-translate-y-1.5
                            peer-[:not(:placeholder-shown)]:text-gray-500 dark:peer-[:not(:placeholder-shown)]:text-neutral-500 dark:text-neutral-500">{{field_label(form.password)}}</label>
                    </div>
                    {{ form_errors(form.password, {
'attr' : {
'class': 'text-red-400 bg-red-400'
}
}) }}
                 

                    <div class="flex items-center">
                        <div class="flex">
                            <input id="remember-me" name="{{field_name(form.agreeTerms)}}" type="checkbox" class="shrink-0 mt-0.5 border border-yellow-200 rounded text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-yellow-800">
                        </div>
                        <div class="ms-3">
                            <label for="remember-me" class="text-sm ">I accept the
                                <a class="text-blue-600 decoration-2 hover:underline font-medium dark:text-blue-500" href="#">Terms and Conditions</a>
                            </label>
                        </div>
                    </div>
                    <!-- End Checkbox -->

                    <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-yellow-300 hover:text-yellow-300 text-yellow-950 hover:bg-yellow-700 disabled:opacity-50 disabled:pointer-events-none" {{this.hasValidationErrors ? 'disabled' : ''}}>{% trans %}S'enregistrer{% endtrans %}</button>
                </div>
                <!-- End Form -->
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endif %}

</div>