{# templates/components/ProductSearch.html.twig #}
{# for the Live Component to work, there must be a single root element
   (e.g. a <div>) where the attributes are applied to #}
    <div {{ attributes }}>
     <div class="max-w-sm space-y-3">
        <input data-model="query" type="search" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="This is placeholder">
    </div>

    <ul>
        {% for user in this.users %}
            <li>{{ user.email }}</li>
        {% endfor %}
    </ul>
</div>
